<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
    <header id="site-header">
        <div id="site-header-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="clearfix">
                            <button class="btn btn-warning btn-lg header-btn visible-sm pull-right">List your Property
                                for
                                Free
                            </button>
                            <p class="timing-in-header">工作时间: 周一至周六 - 8am to 6pm</p>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="clearfix">
                            <div th:unless="${session.user}!=null">
                                <a th:href="@{/gotoLogin}">
                                    <button class="btn btn-warning btn-lg header-btn hidden-sm">Login</button>
                                </a>
                            </div>
                            <div th:if="${session.user}!=null">
                                <a th:href="@{/user(id=${session.user.id})}">
                                    <button class="btn btn-warning btn-lg header-btn hidden-sm"
                                            th:text="${session.user.username}"></button>
                                </a>
                            </div>
                            <div th:if="${session.user}!=null">
                                <a th:href="@{/logout}">
                                    <button class="btn btn-warning btn-lg header-btn hidden-sm">注销</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <figure id="site-logo">
                        <a th:href="@{/index}"><img src="assets/images/logo.png" alt="Logo"></a>
                    </figure>
                </div>
                <div class="col-md-6 col-sm-8">
                    <nav id="site-nav" class="nav navbar-default">
                        <ul class="nav navbar-nav">
                            <li><a th:href="@{/index}">Home</a></li>
                            <li><a href="property-listing.html">Listing</a></li>
                            <li><a href="single-property.html">Property</a></li>
                            <li><a href="gallery.html">Gallery</a></li>
                            <li><a href="contact.html">contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="contact-in-header clearfix">
                        <i class="fa fa-mobile"></i>
                        <span>
                        Call Us Now
                        <br>
                    <strong>157 5785 0238</strong>
                    </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
<div th:fragment="footer">
    <footer id="footer">
        <div class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <section class="widget about-widget clearfix">
                            <h4 class="title hide">关于我们</h4>
                            <a class="footer-logo" href="#"><img src="assets/images/footer-logo.png" alt="Footer Logo"></a>
                            <p>致力于为即将毕业的大学生提供方便的租房平台</p>
                            <ul class="social-icons clearfix">
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                            </ul>
                        </section>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <section class="widget twitter-widget clearfix">
                            <h4 class="title">上次更新</h4>
                            <div id="twitter-feeds" class="clearfix"></div>
                        </section>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <section class="widget address-widget clearfix">
                            <h4 class="title">联系我们</h4>
                            <ul>
                                <li><i class="fa fa-map-marker"></i>浙江省杭州市下沙中国计量大学</li>
                                <li><i class="fa fa-phone"></i> 15757850238</li>
                                <li><i class="fa fa-envelope"></i> liqicong@myhexin.com</li>
                                <li><i class="fa fa-clock-o"></i> Mon - Sat: 9:00 - 18:00</li>
                            </ul>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="site-footer-bottom">-->
            <!--<div class="container">-->
                <!--<nav class="footer-nav pull-right wow slideInLeft">-->
                    <!--<ul>-->
                        <!--<li><a href="#">Terms & Conditions</a></li>-->
                        <!--<li><a href="#">Pricing</a></li>-->
                        <!--<li><a href="#">Contact</a></li>-->
                    <!--</ul>-->
                <!--</nav>-->
            <!--</div>-->
        <!--</div>-->
    </footer>
</div>
<div id="advance-search" class="main-page clearfix" th:fragment="search">

    <div class="container">
        <button class="btn top-btn">Find Your Place</button>
        <form th:action="@{/search}" id="adv-search-form" name="form" onsubmit="return beforeSubmit(this);"
              class="clearfix">
            <fieldset>
                <input type="text" placeholder="省份" id="province" name="province">
                <input type="text" placeholder="城市" id="city" name="city">
                <input type="text" placeholder="地区" id="district" name="district">

                <select id="property-type" name="type">
                    <option>付款方式</option>
                    <option value="yuefu">月付</option>
                </select>
                <select name="low" id="low">
                    <option value="any" selected="selected">Min Price</option>
                    <option value="500">¥500</option>
                    <option value="1000">¥1000</option>
                    <option value="2000">¥2000</option>
                    <option value="3000">¥3000</option>
                </select>
                <select name="high" id="high">
                    <option value="any" selected="selected">Max Price</option>
                    <option value="1000">¥1000</option>
                    <option value="2000">¥2000</option>
                    <option value="3000">¥3000</option>
                </select>
            </fieldset>
            <button type="submit" class="btn btn-default btn-lg text-center">Search <br class="hidden-sm hidden-xs">
                Property
            </button>
        </form>
    </div>
    <!--<script>-->
    <!--function beforeSubmit(form) {-->
    <!--if (document.form.province.value == '') {-->
    <!--alert('省份名不能为空');-->
    <!--form.province.focus();-->
    <!--return false;-->
    <!--}-->
    <!--if (form.city.value == '') {-->
    <!--alert('城市名不能为空');-->
    <!--form.city.focus();-->
    <!--return false;-->
    <!--}-->
    <!--if (form.district.value == '') {-->
    <!--alert('地区名不能为空');-->
    <!--form.district.focus();-->
    <!--return false;-->
    <!--}-->
    <!--var low=document.getElementById("low");-->
    <!--var high=document.getElementById("high");-->
    <!--if(low.options[low.selectedIndex].value!="any"&&high.options[high.selectedIndex].value!="any"){-->
    <!--if(low.options[low.selectedIndex].value>high.options[high.selectedIndex].value){-->
    <!--alert("最低价不能高于最高价");-->
    <!--return false-->
    <!--}-->
    <!--}-->
    <!--return true;-->
    <!--}-->
    <!--</script>-->
</div>