<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lqc.zufang.mapper.HouseResourceMapper">
    <select id="getHouseResourceById" parameterType="Long" resultType="com.lqc.zufang.entity.HouseResource">
        select * from house where id=#{id}
    </select>
    <select id="getHouseResourceListLimitSix" resultType="com.lqc.zufang.entity.HouseResource">
        select * from house order by collect limit 6
    </select>
    <select id="query" parameterType="com.lqc.zufang.entity.HouseResourceQuery" resultType="com.lqc.zufang.entity.HouseResource">
        select * from house where
        province=#{province}
        <if test="city !=null ">
            and city=#{city}
        </if>
        <if test="district!=null">
            and district=#{district}
        </if>
        <if test="low!=null">
            and price> #{low}
        </if>
        <if test="high!=null">
            and price &lt; #{high}
        </if>
    </select>
    <select id="getCollectListByUserId" parameterType="Long" resultType="Long">
        select houseid  from collect where userid=#{id}
    </select>
    <select id="getHouseResourceListByUserId" parameterType="Long" resultType="com.lqc.zufang.entity.HouseResource">
        select * from house where belonguser=#{id}
    </select>
    <select id="getHouseResourceIdListByUserId" parameterType="Long" resultType="Long">
        select id from house where belonguser=#{id}
    </select>
    <update id="export" parameterType="Long">
        update house set status=0 where id=#{id}
    </update>
    <update id="unload" parameterType="Long">
        update house set status=1 where id=#{id}
    </update>
    <insert id="registHouseDetail" parameterType="com.lqc.zufang.entity.HouseResource">
        insert into house(belonguser,province,city,district,place,,size,bathroom,beds,singlewc,description,price)values
        (#{belonguser},#{province},#{city},#{district},#{place},#{size},#{bathroom},#{beds},#{singleWc},#{description},#{price})
    </insert>
    <update id="updateHouseDetail" parameterType="com.lqc.zufang.entity.HouseResource">
        update house set province=#{province},city=#{city},district=#{district},place=#{place},size=#{size},bathroom=#{bathroom},beds=#{beds},singlewc=#{singleWc},description=#{description},price=#{price}
        where id=#{id}
    </update>
</mapper>