<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lqc.zufang.mapper.UserMapper">
    <select id="getUserByName" parameterType="String" resultType="com.lqc.zufang.entity.User">
            select id,password,phonenumber,email from user where username=#{name}
    </select>
    <insert id="insert" parameterType="com.lqc.zufang.entity.User">
        insert into user(username,password,phonenumber,email) values (#{username},#{password},#{phonenumber},#{email})
    </insert>
    <select id="getUserById" parameterType="Long" resultType="com.lqc.zufang.entity.User">
        select username,phonenumber,email from user where id=#{id}
    </select>
</mapper>